table {
    width: 100%;
    border-spacing: 0px 8px;
}

td {
    background-color: #FFFACD;
    padding: 8px;
    border: solid 1px;
}

#image_preview {
    max-width: 100%;
    max-height: 256px;
}

#confirm {
    color: WHITE;
    background-color: #F8B400;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
}

#confirm:hover {
    background-color: #F8C410;
}

#confirm:focus {
    outline: solid 2px;
    border-radius: 4px;
    outline-color: #000000;
}

#message {
    animation: fadeout-anim 2s ease 0s 1 forwards;
    animation-delay: 5s;
}

@keyframes fadeout-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

