* {
    white-space: nowrap;
}

body {
    padding-top: 254px;
}

header {
    width: calc(100% - 64px);
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 10;
}

h2.underline {
    border-bottom: solid 3px gray;
    padding-top: 262px;
    margin-top: -262px;
}

h3.underline {
    border-bottom: solid 2px gray;
    margin-top: 0px;
}

table {
}

.contents {
}

.flex_box {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.flex_item {
    padding: 8px;
    margin: 2px;
    background-color: #EEEEEE;
    flex-grow: 1;
}

.flex_img {
    text-align: center;
}

.flex_img > img {
    width: auto;
    max-width: 100%;
    max-height: 256px;
}

.modify_button {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 24px;
    height: 10px;
    cursor: pointer;
    z-index: 1;
    margin: 0px 0px 0px auto;
}

.modify_button > div {
    background: #696969;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 2px;
}

.modify_menu {
    display: none;
    position: relative;
    z-index: 2;
    width: 100%;
}

.modify_menu > div {
    float: right;
    background: #FFFFFF;
    border-radius: 8px;
    border: solid 1px gray;
    width: 128px;
    height: 64px;
}

.modify_menu_button {
    background: none;
    border: unset;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    width: 100%;
}

.modify_menu_button:hover {
    background: #FAFAFA;
    border-radius: 8px;
}

hr {
    margin: 0px;
}
