body {
    padding-top: 254px;
}

header {
    width: calc(100% - 32px);
    top: 0;
    position: fixed;
    z-index: 11;
}

#contents_nav {
    background-color: white;
    top: 64px;
    width: calc(100% - 64px);
    padding: 0px 32px;
    position: fixed;
    z-index: 10;
}

h2.underline {
    border-bottom: solid 3px gray;
    padding-top: 262px;
    margin-top: -262px;
}

h3.underline {
    border-bottom: solid 2px gray;
    margin-top: 0px;
}

.contents {
}

details {
    top: 3px;
}
