table {
    width: 100%;
    border: 1px solid #BBBBCC;
    border-radius: 4px;
    border-spacing: 0px;
    padding: 8px;
    background-color: #FAFAFF;
}

td {
    border: none;
    padding: 4px;
}

#confirm {
    color: WHITE;
    background-color: #22B822;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
}

#confirm:hover {
    background-color: #33BF33;
}

#confirm:focus {
    outline: solid 2px;
    border-radius: 4px;
    outline-color: #000000;
}

