h2.underline {
    border-bottom: solid 2px gray;
    margin-top: 0px;
}

.contents {
}

.flex_img {
    height: 263px !important;
}

.control_buttons {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.shortcut_key {
    text-align: center;
}

button {
    color: WHITE;
    background-color: DARKSEAGREEN;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 128px;
    height: 40px;
}

button:hover {
    background-color: #A2D2A2;
}

button:focus {
    outline: solid 2px;
    border-radius: 4px;
    outline-color: #000000;
}

@media only screen and (max-width: 800px) {
    .pc {
        display: none;
    }
}

details {
    top: 7px;
}
