body {
    padding-top: 222px;
}

header {
    background-color: white;
    width: 100%;
    top: 0;
    position: fixed;
}

h2.underline {
    border-bottom: solid 3px gray;
    padding-top: 230px;
    margin-top: -230px;
}

h3.underline {
    border-bottom: solid 2px gray;
}

table.content {
    width: 100%;
}

.content td {
    padding: 16px 8px;
    vertical-align: top;
    background-color: #EEEEEE;
}

.content img {
    width: 100%;
}

.flex_box {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.flex_item {
    padding: 8px;
    margin: 2px;
    background-color: #EEEEEE;
}

.flex_item img {
    max-height: 256px;
}

