.navbar-brand {
    font-family: cursive;
}

.contents {
    margin: 32px;
}

.form-signin {
    display: flex;
    height: calc(100vh - 58px - 64px);
    align-items: center;
    justify-content: center;
}

.pairs {
    display: flex;
    flex-wrap: wrap;
}

.card-pair {
    width: 256px;
    margin: 8px;
}

.card-body {
    width: 100%;
    height: 100%;
}

img.card-img-bottom {
    width: auto;
    max-width: 100%;
    max-height: 256px;
}

.dropdown-toggle::after {
    display: none !important;
}

h2.underline {
    border-bottom: solid 3px gray;
}
