<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/add_style.css">
</head>
<script>
    function previewImage(obj) {
        var fileReader = new FileReader();
        fileReader.onload = (function() {
            document.getElementById('image_preview').src = fileReader.result;
        });
        fileReader.readAsDataURL(obj.files[0]);
    }
</script>
<body>
    <header>
        <h1><a href="/"><img src="static/resources/title.png"></a></h1>
        <h2>Add letter pairs</h2>
    </header>

    <div class="contents">
        <form action="/add" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <label for="lp">Letter pair</label>
                        <br />
                        <input type="text" name="lp" id="lp" required minlength="2" maxlength="2" placeholder="あか" value="{{ pair }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="letters">Letter</label>
                        <br />
                        <textarea type="text" name="letters" id="letters" placeholder="赤ちゃん">{{ letters }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="image">Image</label>
                        <br />
                        <input type="file" name="image" id="image" accept="image/png" onchange="previewImage(this);">
                        <br />
                        <br />
                        <img id="image_preview" src="static/img/{{ filename }}" />
                    </td>
                </tr>
            </table>

            <p><input type="submit" id="confirm" value="Confirm"></p>
        </form>
    </div>

    <div id="message">
        <p> {{ message }} </p>
    </div>

</body>
</html>
