<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/create_account_style.css">
</head>
<body>
    <header>
        <a href="/"><img id="title_img" src="static/resources/title.png"></a>
    </header>

    <div class="contents">
        <h2>Create your account</h2>
        <form action="/create" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="username">Username</label>
                        <br />
                        <span class="annotation">_0-9A-Za-z</span>
                        <br />
                        <input type="text" name="username" id="username" maxlength="64" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                        <br />
                        <span class="annotation">@#$%&amp;_:;0-9A-Za-z</span>
                        <br />
                        <span class="annotation">at least 8 characters</span>
                        <br />
                        <input type="password" name="password" id="password" minlength="8" maxlength="64" required>
                    </td>
                </tr>
            </table>

            <p>{{ message }}</p>

            <p><input type="submit" id="confirm" value="Create your account"><a href="/login" id="login">Login</a></p>
        </form>
    </div>
</body>
</html>
