<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/top_style.css">
</head>
<body>
    <header>
        <a href="/"><img id="title_img" src="static/resources/title.png"></a>
        <a href="/{{ sign }}" id="account_menu">{{ sign }}</a>
    </header>

    <div class="contents">
        <h1>Welcome to Learning Letter Pairs !</h1>
        {% if username != "" %}
        <p>Hi, {{ username }} !</p>
        {% endif %}
        <p>
            This site provides the best content for learning letter pairs.<br>
            You can specify not only character combinations, but also images.<br>
        </p>
    </div>

    <div class="top_contents">
        {% if username == "" %}
        <h2>Let's start</h2>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/create">Create your account</a></li>
        </ul>
        {% else %}
        <h2>Contents</h2>
        <ul>
            <li><a href="/list">List of letter pairs</a></li>
            <li><a href="/add">Add letter pairs</a></li>
        </ul>
        {% endif %}
    </div>
</body>
</html>
