<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/list_style.css">
</head>
<script>
    function click_menu_button(obj) {
        let modify_menu = obj.nextElementSibling;
        if (modify_menu.style.display == 'none') {
            modify_menu.style.display='block';
        } else {
            modify_menu.style.display='none';
        }
    }
</script>
<body>
    <header>
        <nav>
            <h1><a href="/"><img src="static/resources/title.png"></a></h1>

            <h2>List of letter pairs</h2>

            <table align="center" cellpadding="4px" cellspacing="0px" border="1px">
                <tr>
                    <td bgcolor="#DDDDDD">
                        <p>
                            <b>LP</b>
                        </p>
                    </td>
                    <td bgcolor="#EEEEEE">
                        <p>
                        {% for list in lists %}
                            {% if loop.index != 1 %}
                                |
                            {% endif %}
                            <a href="#{{ list[0].initial }}">{{ list[0].initial }}</a>
                        {% endfor %}
                        </p>
                    </td>
                </tr>
            </table>
            <hr />
        </nav>
    </header>

    <div class="contents">
    {% for list in lists %}
        <h2 class="underline" id="{{ list[0].initial }}">{{ list[0].initial }}</h2>
        <div class="flex_box">
            {% for pair in list %}
                <div class="flex_item">
                    <div class="modify_button" onclick="click_menu_button(this)">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="modify_menu">
                        <div>
                            <form method="POST">
                                <input type="hidden" name="name" value="{{ pair.name }}">
                                <input class="modify_menu_button" type="submit" name="submit" value="Modify">
                                <hr>
                                <input class="modify_menu_button" type="submit" name="submit" value="Delete">
                            </form>
                        </div>
                    </div>

                    <h3 class="underline">{{pair.name}}</h3>
                    <ul>
                    {% for obj in pair.objects %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                    </ul>
                    <img src="static/img/{{pair.image}}" />
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

</body>
</html>
