<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Learning Letter Pairs</h1>

    <h2>List of letter pairs</h2>

    <table align="center" cellpadding="4px" cellspacing="0px" border="1px">
        <tr>
            <td bgcolor="#DDDDDD">
                <p>
                    <b>LP</b>
                </p>
            </td>
            <td bgcolor="#EEEEEE">
                <p>
                    <a href="#A">あ</a>
                    |<a href="#I">い</a>
                    |<a href="#U">う</a>
                    |<a href="#E">え</a>
                    |<a href="#KA">か</a>
                    |<a href="#KI">き</a>
                    |<a href="#KU">く</a>
                    |<a href="#KE">け</a>
                    |<a href="#SA">さ</a>
                    |<a href="#SI">し</a>
                    |<a href="#SU">す</a>
                    |<a href="#SE">せ</a>
                    |<a href="#TA">た</a>
                    |<a href="#TI">ち</a>
                    |<a href="#TU">つ</a>
                    |<a href="#TE">て</a>
                    |<a href="#NA">な</a>
                    |<a href="#NI">に</a>
                    |<a href="#NU">ぬ</a>
                    |<a href="#NE">ね</a>
                    |<a href="#HA">は</a>
                    |<a href="#HI">ひ</a>
                    |<a href="#HU">ふ</a>
                    |<a href="#HE">へ</a>
                </p>
            </td>
        </tr>
    </table>

    {% for list in lists %}
        <h2 class="underline" id="{{ list[0].initial }}">{{ list[0].hiragana }}</h2>
        <div class="flex_box">
            {% for pair in list %}
                <div class="flex_item">
                    <h3 class="underline">{{pair.name}}</h3>
                    <ul>
                    {% for obj in pair.objects %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                    </ul>
                    <img src="static/img/{{pair.image}}" />
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</body>
</html>
