<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/login_style.css">
</head>
<body>
    <header>
        <a href="/"><img id="title_img" src="static/resources/title.png"></a>
    </header>

    <div class="contents">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="username">Username</label>
                        <br />
                        <input type="text" name="username" id="username" pattern="[_0-9A-Za-z]+" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                        <br />
                        <input type="password" name="password" id="password" pattern="[@#$%&;_:;0-9A-Za-z]+" required>
                    </td>
                </tr>
            </table>

            <p>{{ message }}</p>

            <p><input type="submit" id="confirm" value="Login"><a href="/create" id="create">Create your account</a></p>
        </form>
    </div>
</body>
</html>
