<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>LearningLetterPairs</title>
    <link rel="stylesheet" href="static/css/common_style.css">
    <link rel="stylesheet" href="static/css/not_found_style.css">
</head>
<body>
    <header>
        <a href="/"><img id="title_img" src="static/resources/title.png"></a>
        <a href="/{{ sign }}" id="account_menu">{{ sign }}</a>
    </header>

    <div class="contents">
        <p class="status_code">404</p>
        <p class="message">Page Not Found :'(</p>
    </div>
</body>
</html>
